body {
  background-color: lightgray;
  font-family: "Courier New", Courier, monospace;
  margin-top: 300px;
  text-align: center;
}

input {
  border: 4px palevioletred solid;
  border-radius: 600px;
  text-align: center;
}

button {
  color: darkmagenta;
  font-size: 25px;
}

#operator {
  color: darkmagenta;
  font-size: 40px;
  font-style: italic;
}

#result {
  font-size: 60px;
  text-align: center;
  color: deeppink;
  font-style: italic;
}

#dropdownmenu {
  font-size: 25px;
  color: darkmagenta;
}

#value1 {
  color: deeppink;
  font-weight: bolder;
}

#value2 {
  color: deeppink;
  font-weight: bolder;
}

fieldset {
  border: 3px black dotted;
}
