body {
  background-color: lightgray;
  font-family: "Courier New", Courier, monospace;
  margin-top: 300px;
  text-align: center;
}

input {
  border: 4px palevioletred solid;
}

button {
  color: palevioletred;
}

#sum {
  color: palevioletred;
  font-size: 40px;
  font-style: italic;
}
